{% extends 'base.html.twig' %}

{% block title %}Hello this is main controller method!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to Case-Study-Test for Victor</h1>
    </div>
{% endblock %}