{% extends 'base.html.twig' %}

{% block title %}Hello this is Admin controller method!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Congratulations! You are Admin, but not super =( </h1>
    </div>
{% endblock %}