{% extends 'base.html.twig' %}

{% block title %}Hello this is Super Admin controller method!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Congratulations! You are Super Admin!</h1>
    </div>
{% endblock %}