{% extends 'base.html.twig' %}

{% block title %}Hello this is User controller method!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome User! Have a good day! </h1>
    </div>
{% endblock %}